:root {
--white: #FEFEFEff;
--columbia-blue: #C8DAEEff;
--peach-yellow: #F3D18Aff;
--alice-blue: #ECF1F6ff;
--burnt-sienna: #F3795Aff;
--delft-blue: #25395Cff;
}

:root::-webkit-scrollbar {
  display: none;
}
body{
  overflow-x: hidden;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23C8DAEE'/%3E%3Cstop offset='1' stop-color='%23F3F3F3'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.32'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.navbar-custom {
    padding: 5px;
    margin: 0 !important;
    background-color: var(--columbia-blue) !important;
}

.bottom-nav {
  padding: 5%;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color:var(--burnt-sienna);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color:var(--white);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: var(--peach-yellow);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-7 {
    align-items: center;
    background-clip: padding-box;
    background-color:var(--delft-blue);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: var(--alice-blue);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-7:hover {
    transform: translateY(-1px);
  }

.button-6 {
  all: unset;
  width: 200px;
  height: 60px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: black;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-6::after,
.button-6::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-6::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--peach-yellow);
  border-radius: 10px;
}

.button-6::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(243, 121, 90, 0.78);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-6:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-6:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-6:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
  .card-body{
    padding: 10px;
    height: 240px;
    overflow: hidden;
  }
  .card-body > header {
    display: flex;
    align-items: center;
  }

  .categories {
    background-color: var(--peach-yellow);

  }

  .card {
    background-color: var(--burnt-sienna);
    margin:10px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .swiper {
    height: 300px;
  }

  .featurette-header {
    margin-top: 7rem;
  }
  .featurette-divider {
    margin: 5rem;
  }

  .featurette > div > img {
    background-color: var(--delft-blue);
    width: 100%;
  }

  .reveal-right {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 3s all ease;
}

.reveal-left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 3s all ease;

}

#myCarousel {
  background-color: var(--columbia-blue);
}

.cover-end {
  object-fit: cover;
  width: 100%;
  float: right;
}

.cover-start {
  object-fit: cover;
  width:100%;
  float: left;
}
.text-start{
  padding: 20%;
}
.text-end {
  padding: 20%
}

.carousel-caption {
  color: black;
}
.carousel-item {
  padding:10px;
}

.carousel-control-prev-icon {
  height: 70px;
  border-radius: 50%;
}

.carousel-control-next-icon {
  height: 70px;
  border-radius: 50%;
}
.reveal-left.active,
.reveal-right.active {
    transform: translateX(0);
    opacity: 1;
}

.contact-left{
  background-color: var(--peach-yellow);
  border-radius: 10% 0% 0% 10%;

  margin: 0;
  padding: 5%;
}

.contact-right {
  border: 2px solid var(--peach-yellow);
  border-radius: 0% 10% 10% 0%;
  padding: 7%;
  margin: 0;
}

.contact{
  background-color: var(--burnt-sienna);
  min-height: 70vh;
  padding: 10%
}

 i {
  color: var(--delft-blue) !important;
  margin-left: 5px;
  font-size: 3rem;
}

.swiper{
  height: auto;
  background-color: var(--alice-blue);
}

.testimonial{
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer{
  background-color: var(--peach-yellow);
  color: var(--delft-blue);
  position: relative;
  bottom:0;
  margin-bottom: 0;
}